﻿/* Project: IQAROS - Web Application */ /* Description: Web Application Detail */ /* Author: Sheril Jebasingh */ /* Updated on Sep 19,2007 */

/* Header starts here (C) */
div.Logo{
	float:left;
	position:relative;
	width: 265px;
	height: 83px;
	left: 10px;
	background: url("../../images/wsim/logo.png") no-repeat;
}

div.HMenu{
	height:23px;
	padding-right: 6px;
}

div.HMenu ul {
	list-style-type:none;	
}

div.HMenu li {
	float:right;
	margin-left: 3px;
	width:20px; /* IE 6.0 Hack */
}

div.HMenu ul > li{
	width:auto;
}

div.HMenu li a, div.HMenu li.Selected{
	display: block;
	height:23px; /* Internet 6.0 Hack */
	padding: 0 4px 0 4px;
	font: bold 10px/23px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	text-align:center;
	text-decoration: none;
	white-space:nowrap;
}

div.LoginDetail{
	height: 30px;
	margin: 5px;
	padding: 10px;
	width: 200px;
	float:right;
}

div.LoginDetail p{
	font:bold 13px Verdana;
}

div.LoginDetail span{
	font-size: 11px;
}

div.Date{
}

div.Date h1{
	text-align:right;
	margin-top: 3px;
	margin-right: 5px;
	font:  11px Verdana;
	color: #505050;
}
/* Header ends here (C) */

/* Main Menu starts here (C)*/
div.MMenu {
	position:relative;
	height: 28px;
}

div.MMenu ul {
	list-style-type:none;	
}

div.MMenu li {
	float:left;
	margin-right: 5px;
	width:20px; /* IE 6.0 Hack */
}

div.MMenu ul > li{
	width:auto;
}

div.MMenu li a, div.MMenu li.Selected{
	display: block;
	height:28px; /* Internet 6.0 Hack */
	padding: 0 6px 0 6px;
	font:bold 11px/28px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration: none;
	white-space:nowrap; /* IE 6.0 Hack */
}
/* Main Menu ends here (C) */

/* Content starts here (C) */
div.Content h1{
	font: bold 13px/28px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-indent: 5px;
}
/* Content ends here (C) */

/* Content detail start here (C) */
div.ContentDetail{
	padding: 10px;
} 

div.BreadCrum{
	height: 30px;
}

div.BreadCrum a{
	text-decoration:none;
}

div.BreadCrum a:hover{
	text-decoration:underline;
}
/* Content Details ends here (C) */

/* Left Menu starts here (C) */
div.LMenu{
	width: 197px;
	margin-bottom: 10px;
	float:left;
	padding-left: 3px;
	padding-right: 8px;
}

div.LMenu h4{
	margin-left:-3px;
	font: bold 13px/31px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-indent: 10px;
}

div.LMenu h5{
	margin-left:-3px;
	font: bold 13px/21px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-indent: 10px;
}

div.LMenu h6{
	height: 8px;
	margin-left: -3px;
	margin-bottom: -5px; /* Avoid the extra space in the bottom :) */ 
}

div.LMenu ul {
	list-style-type:none;
	padding-right: 11px;
}

div.LMenu table{
	width: 185px;
}

div.LMenu ul li a, div.LMenu ul li.Selected{
	display: block;
	height:26px; /* Internet 6.0 Hack */
	font: 11px/26px Verdana, Arial, Helvetica, sans-serif;
	text-indent: 10px;
	text-decoration: none;
}
/* Left Menu ends here (C) */

/* Content Sub Menu starts here (C) */
div.CSMenu {
	position:relative;
	height:25px;
}

div.CSMenu ul {
	list-style-type:none;	
}

div.CSMenu ul li {
	margin-right: 2px;
	float:left;
	width: 130px;
}

div.CSMenu ul li a, div.CSMenu ul li.Selected{
	display: block;
	height:25px;
	font: 11px/25px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration: none;
}
/* Content Sub Menu ends here */

/* Form for starts here (C) */
div.Form{
	margin: 10px 0px;
}

div.Form legend{
	font: bold 13px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 8px;
}

div.Form fieldset{
	margin: 10px 0px;
	padding:0px; /* IE 6.0 Hack */
	padding-left:4px;
	padding-right:4px;
}

div.Form div.TopPad{
	padding: 4px;
}

div.Form table.FormTable{
	width:100%;
}

/* This Selector is the default for the Form Fields */
div.Form table.FormTable td{
	color: #505050;
	font:8pt/20px Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
	padding-top: 6px;
	padding-bottom: 6px;	
}

div.GeneralInfo{
	margin: 10px 0px;
	padding: 0px 10px;
}

div.GeneralInfo P{
	margin: 2px 0px;
	font:bold 12px/20px Verdana, Arial, Helvetica, sans-serif;
}

div.Form table.FormTable td h2{
	font-weight: bold ;
}

/* Mandatory Field */
div.Form table.FormTable td span, .Login span{
	width: 20px;
	height: 100%;
	vertical-align: top;
	padding: 0px 10px;
}

/* Information near the Field */
div.Form table.FormTable td span.FieldInfo{
	width: 350px;
	display:block;
	padding: 0px;
	padding-top: 5px;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	float:left;
}

div.Form table.FormTable td input, div.Form table.FormTable td select, div.Form table.FormTable td option, div.Form table.FormTable td textarea{
	font-size: 8pt;
	color: #505050;
}

div.Form table.FormTable td.Button{
	text-align:right;
}

div.FormButton{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 32px;
	padding-right: 4px;
	text-align:right;
}

div.Form table td Input.Button, div.FormButton Input.Button{
	height: 24px;
	margin-top: 4px;
	margin-left: 4px;
	white-space:nowrap;
	font:bold 11px/11px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #DBA136;
    background : url("../../images/cim/ButtonBG.jpg") repeat-x;
	color:#A45B2F;
}

div.Form table td Input.Button:hover, div.FormButton Input.Button:hover{
    background : url("../../images/cim/ButtonBGH.jpg") repeat-x;
}

/* Table for Radio Group starts here */
div.Form table.RadioGroup{
}

div.Form table.RadioGroup td{
	height: 22px;
	padding: 0px;
}
/* Table for Radio Group ends here */

/* Table Empty starts here */
div.Form table td.TableEmpty, div.Report table td.TableEmpty{
	font:bold 11px/30px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}
/* Table Empty ends here */

/* Form ends here (C) */

/* Report starts here (C)*/
div.Report{
	margin: 10px 0px;
}

div.Report table{
	width: 100%;
}

div.Report table td{
	font: 11px/18px Verdana, Arial, Helvetica, sans-serif;
	padding: 3px 2px;
	height: 18px;
}

div.Report table td a{
	font: 11px/18px Verdana, Arial, Helvetica, sans-serif;
	display:block;
	text-decoration:none;
}

div.Report table a:hover{
	text-decoration:underline;
}

div.Report table tr.Heading{

}

.a1{

background-image : url("../images/ReportTableHeader.jpg") !important;
}

div.Report table tr.Heading td{
	font: bold 11px/26px Verdana, Arial, Helvetica, sans-serif;
	border-top: 0px; /* IE 6.0 Hack */
	height: 26px; /* Pic size is 26 */
	padding: 0px 3px; /* Avoid Padding on the Top & Bottom */
	vertical-align:top;
	white-space:nowrap;
}

div.Report h5{ /* Report Footer */
	height: 11px;
}

h6{ /* Pagination */
	height: 28px;
	margin-bottom:2px;
	font: bold 11px/16px Verdana;
	text-align:right;
}

h6 a{
	margin-left: 3px;
	font: bold 11px/20px Verdana;
	text-decoration:none;
	padding: 3px;
}

h6 a:hover{
}
/* Report ends here (C)*/

div.Report table td.ImgCenter{
	text-align: center;	
}

/* Print starts here */
div.Print{
	margin: 10px 0px;
}

div.Print table{
}

div.Print table td{
	padding: 0px 3px;
}

div.Print table td address{
	font-weight: bold;
}

div.Print h1{
	font: bold 11px/20px Verdana, Arial;
}

div.Print table.Box{
	padding: 4px;
}

div.Print table tr.Heading{
}

div.Print table tr.Heading td, div.Print table td.SideHeading{
	font: bold 11px/20px Verdana, Arial;
}

div.Print table td span.Box{
	display: block;
	padding: 0px 1px;
	margin: 2px 0px;
	height: 20px;
	width: 75px;
	white-space:nowrap;	
	font: bold 11px/20px Verdana, Arial;
}
/* Print ends here */

/* Display Infomation starts here (C) */ /* Invoice, Details etc */
table.DisplayInfo{
	width:100%;
}

table.DisplayInfo td{
	height: 24px;
}
/* Display Information ends here (C) */

/* Paragraph and Content starts here (C) */
div.PContent{
	padding:0px;
}

div.PContent h4{
	font: bold 14px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #505050;
	text-indent: 10px;
}

div.PContent p{
	color: #505050;
	padding:10px 10px;
	font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
}

div.PContent img{
	margin: 10px;
	float:left;
}
/* Paragraph and Content ends here (C) */

/* General Fomating Style starts here (C) */
h3{
	font: bold 11px/24px Verdana;
	text-indent: 5px;
}

.Box{ /* What is this? :) Have to check man */
	height: 30px;
}
/* General Formatting Style ends here (C) */

/* Pop up starts here */
body.Popup{
}
/* Pop up ends here */

/* CSS for Images starts here (C) */
div.Images{
	min-height: 400px;
	height: auto;
	position:relative;
}

* html div.Images{
	height: 200px; /* IE 6.0 Hack */
}

div.Images div{
	width: 104px;
	height: 120px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
 	padding: 10px;
}

div.Images div a.img{
	display: block;
	height: 105px;
	text-align: center;
}

div.Images div:hover{
	background: #d1cbcb;
	color: #ffffff;
}

div.Images div p{
	font: 11px/10px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
}
/* CSS for Images ends here (C) */

/* Tree Menu starts here (C) */
div.TreeMenu{
	padding: 10px;
	position:relative;
}

div.TreeMenu span{
	font: 13px Verdana;
	display: block;
}

div.TreeMenu span.Folder{
	font-weight:none;
	cursor:default;
}

div.TreeMenu span.leaf{
	margin-left: 16px;
}

div.TreeMenu a{
	text-decoration: none;
}

div.TreeMenu a:hover{
	text-decoration: none;
}
/* Tree Menu ends here (C) */

/* Theme Display starts here */
div.ThemeDisplay{
	float: left;
	width: 144px;
	padding: 2px;
	margin-right: 10px;
	font-size: 11px;
}
/* Theme Display ends here */

/* Error Report starts here */
div.ErrorReport{
	background:#FDF9F2;	
	padding: 0px 5px;
}

div.ErrorReport p{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 5px 0px;
}
/* Error Report ends here */

/* BMessage starts here */
div.BMessage{
	margin: 120px 150px;
	padding: 30px;
}

div.BMessage P{
	font:bold 12px/20px Verdana, Arial, Helvetica, sans-serif;
}
/* BMessage ends here */

/* Display starts here */
.DisplayNone{
	display:none;
}

.DisplayBlock{
	display:block;
}
/* Display ends here */
