﻿/* Project: IQAROS - Web Application */ /* Description: Web Application Default Color */ /* Author: Sheril Jebasingh */

/* Body starts here (C) */
body{
	background-image: url("../../images/bg.jpg");
}
/* Body ends here (C) */

/* Header starts here (C) */
div.HMenu{
	background-image: url("../../images/HeaderMenuBG.jpg") no-repeat right top;
}

div.HMenu li.Selected{
	color: #A45B2F;
}

div.HMenu li a{
	color: #A45B2F;
}

div.LoginDetail{
	border: 1px solid #F5E6C9;
	background: #FEFDFA;
}

div.LoginDetail p{
	color: #A45B2F;
}

div.LoginDetail span{
	color: #505050;
}
/* Header ends here (C) */

/* Footer Color starts here (C) */
div.Footer{
	color:#A45B2F;
	background : url("../../images/Footer.jpg") no-repeat bottom;

}
/* Footer Color ens here (C)  #F9EED9*/

/* Main Menu starts here (C) */
div.MMenu {
	background:url("../../images/MMenuBG.jpg") repeat-x;
}

div.MMenu li a{
	color: #ffffff;
}

div.MMenu li.Selected{
	background:url("../../images/MMenuSelected.jpg") repeat-x;
	color: #ffffff;
}

div.MMenu li a:hover{
	background:url("../../images/MMenuSelected.jpg") repeat-x;
	color: #ffffff;
}
/* Main Menu ends here (C) */

/* Content starts here (C) */
div.Content h1{
	background: #746462;
	border: 1px solid #DBA136;
	border-bottom: 0px;
	color: #ffffff;
}
/* Content ends here (C) */

/* Content detail start here (C) */
div.ContentDetail{
	border: 1px solid #DBA136;
	border-top: 0px;
} 

div.BreadCrum{
	color: #A45B2F;
}

div.BreadCrum a{
	color: #A45B2F;
}

div.BreadCrum a:hover{
	color: #A45B2F;
}
/* Content Details ends here (C) */


/* Form for starts here (C) */
div.Form{
	color: #505050;
}

div.Form legend{
	background:#F2DDB5;
}

div.Form fieldset{
	border: 1px solid #F9EEDB;
}

div.GeneralInfo{
	border: 1px solid #E8BF75;
}

div.GeneralInfo P{
	color:#A45B2F;
}

div.Form h3{
	border: 1px solid #F9EEDB;
}

div.Form table.FormTable td a{
	color:#303030;
}

div.Form table.FormTable td a:hover{
	color:#A45B2F;
}

div.Form table.FormTable td span{
	color:#A45B2F;
}

div.Form table.FormTable td span.FieldInfo{
	color:#A45B2F;
}

div.FormButton{
	background:#FDF9F2;
	border: 1px solid #F9EEDB;
	color:#A45B2F;
}

div.Form table td.TableEmpty , div.Report table td.TableEmpty{
	color:#cc0000;
}

/* Form for ends here (C) */

/* Report starts here (C) */
div.Report table{
	color: #505050;
	border-left: 1px solid #EFD5A4;
}

div.Report table tr.Dark{
	background-color: #FEFDFA;
}

div.Report table tr:hover{
	background-color:#FAF5E7;
}

div.Report table td{
	border-right: 1px solid #EFD5A4;
	border-top: 1px solid #EFD5A4;
}

div.Report table tr.Heading td{
	background : url("/../../images/ReportTableHeader.jpg") repeat-x;
	color: #A45B2F;
}


div.Report table td a{
	color: #505050;
}

div.Report h5{
	background : url("../../images/ReportTableFooter.jpg") repeat-x;
}

h6{
	color: #505050;
}

h6 a{
	color: #A45B2F;
}

h6 a:hover{
	color:#DBA136;
}

h6 a.active{
	color:#DBA136;
}
/* Report ends here */

/* Paragraph and Content starts here */
div.PContent{
	background:#FDF9F2;
	border: 1px solid #F9EEDB;
}

div.PContent h4{
	background: #F3DAB4;
}

div.PContent img{
	border: 1px solid #F9EEDB;
}
/* Paragraph and Content ends here */

/* Print starts here */
div.Print{
	margin: 10px 0px;
}

div.Print table{
	border: 1px solid #F9EEDB;
}

div.Print h1{
	color: #505050;
	background:#FDF9F2;
	border: 1px solid #F9EEDB;
	border-bottom: 0px;
}

div.Print table.Box{
	border: 1px solid #F9EEDB;
	background:#F3DAB4;
}

div.Print table tr.Heading td{
	color: #A45B2F;
}

div.Print table td.SideHeading{
	color: #505050;
}

div.Print table td span.Box{
	color: #A45B2F;
	background:#FDF9F2;
	border: 1px solid #F9EEDB;
}
/* Print ends here */

/* Display Infomation starts here (C) */ /* Invoice, Details etc */
table.DisplayInfo tr:hover{
	background:#FAF5E7;	
}

table.DisplayInfo td{
	border-bottom: 1px solid #F9EEDD;	
}
/* Display Information ends here (C) */

/* General Fomating Style starts here */
.LightColor{
	background:#FDF9F2;
}

h3{
	background: #FAEEDA;
}
/* General Formating Style ends here */

/* CSS for Images starts here */
div.Images div{
	border: 1px solid #A59592;
	background:#EDEBEB;
}

div.Images div p a{
	color:#505050;
}

div.Images div:hover{
	background: #d1cbcb;
	color: #ffffff;
}
/* CSS for Images ends here */

/* Tree Menu starts here */
div.TreeMenu span{
	color:#DBA136;
}

div.TreeMenu a{
	color:#DBA136;
}

div.TreeMenu a:hover{
	color:  #A45B2F;
}
/* Tree Menu ends here */

/* Theme Display starts here */
div.ThemeDisplay{
	border: 1px solid #F9EEDB;
}
/* Theme Display ends here */

/* Error Report starts here */
div.ErrorReport{
	border: 1px solid #F9EEDB;
	background:#FDF9F2;	
	color: #cc0000;
}

div.ErrorReport p{
	background:#FDF9F2;	
	color: #cc0000;
}
/* Error Report ends here */

/* BMessage starts here */
div.BMessage{
	background:#FDF9F2;
	border: 1px solid #E8BF75;
}

div.BMessage P{
	color:#A45B2F;
}
/* BMessage ends here */