﻿/* Project: IQAROS - Web Application */ /* Description: Web Application Layout */ /* Author: Sheril Jebasingh */ /* Updated on Sep 19,2007 */

/* General Formating starts here */
*{
		font: 12px Verdana, Arial, Helvetica, sans-serif;
}

html, body, div, h6, h5, h4, h3, h2, h1, pre, form, p, span, ul, li, img, table, a img{
	margin: 0px;
	padding: 0px;
	border:0px;
}

table{
	width:100%;
}

table td{
	font:8pt/20px Verdana, Arial, Helvetica, sans-serif;
}
/* General Formatting ends here */

/* Layout starts here */
body{
	min-width: 975px;
	padding: 20px 0px;
}

body.Popup{
	padding: 0px 0px;
	background: #ffffff;
	min-width:0px;
}

div.Wrapper{
	height: 400px;
	position:relative;
	width: 975px;
	margin: 0;
	margin: 0 auto;
	background: #ffffff;
}

body > div.Wrapper{
	min-height:400px; 
	height: auto;
}

div.TopShadow{
}

div.Header{
	height: 100px;
}

div.MainPanel{
	padding: 10px 10px 0px 10px;
}

div.Content{
	padding-bottom: 10px; /* Pop is Benefited */
	position:relative;
	float:left;
	width:746px; /* IE. 6.0 Hack */
}

div.MainPanel > div.Content{
	width:755px; 
}

div.Content{
	height: 350px;
	padding-bottom: 10px; /* Pop is Benefited */
	position:relative;
	float:left;
	width:746px; /* IE. 6.0 Hack */
}

div.MainPanel > div.Content{
	width:755px; 
	min-height:350px; 
	height: auto;
}

div.LeftPanel{
	position:relative;
	float:left;
	width:200px;
}

div.Footer{
	clear:both;
	padding-top:15px; /* IE 6 Hack */
	height: 30px;
	text-align:center;
	font-size: 11px;
}
/* Layout ends here */