/* CSS files add styling rules to your content */

body {
  font-family: "Times new Roman", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size:4;
  margin: 2em;
  display:flex;
  color:red;
  justify-content:center;
  flex-direction:column;
}

h1 {
  font-style: bold,italic;
  text-decoration:
  color: red;
  height:100px;
  width:100%;
  text-align:center;

}
p{
  background:white;
    width:500px;
  margin: 0  auto;
}

/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
select{
width::80%;
border:3px solid rgb(200, 200, 207);
height:42px;
padding:5px;
border-radius:3px;
margin:5px 10px 20px 35px;
}
input[type=text]{
width:76%;
border:3px solid rgb(200, 200, 207);
height:23px;
padding:5px;
border-radius:3px;
margin:5px 10px 20px 35px;
}
input[type=submit]{
width:80%;
border:3px solid rgb(200, 200, 207);
height:42px;
padding:5px;
border-radius:3px;
margin:10px 10px 20px 35px;
border:1px solid green;
}
label{
margin-left:35px;
font-family: 'Droid Serif', serif;
}
.container{
width:960px;
margin:50px auto;
}
.main{
float:left;
width:355px;
height:350px;
box-shadow:1px 1px 12px gray;
padding-top:30px;
}
h2{
width:370px;
text-align:center;
font-family: 'Droid Serif', serif;
}